In [1]:
from pathlib import Path

In [2]:
from models.relational.db_schema import SQLite, Table
from models.relational.orm.sqlalchemy import SQLAlchemy
from models.relational.metadata import ColumnMeta, ColumnType

In [3]:
test_path = Path.cwd() / "data" / "test.db"

In [4]:
test_db = SQLite[SQLAlchemy, SQLAlchemy.Table](test_path, SQLAlchemy)

In [5]:
schools_columns: list[ColumnMeta] = [
    {
        "name": "Id",
        "type": ColumnType.INT,
        "length": None, 
        "nullable": False,
        "primary_key": True,
        "unique": True
    },
    {
        "name": "Name",
        "type": ColumnType.TEXT,
        "length": 100,
        "nullable": False,
        "primary_key": False,
        "unique": True
    },
    {
        "name": "Location",
        "type": ColumnType.TEXT,
        "length": 100,
        "nullable": False,
        "primary_key": False,
        "unique": False
    }
]

In [6]:
schools = Table[SQLAlchemy, SQLAlchemy.Table]("Schools", test_db, schools_columns, False, SQLAlchemy)

In [7]:
for column in schools.columns:
    print(column)

Colonne Id de type INT de la table Schools
Colonne Name de type TEXT de la table Schools
Colonne Location de type TEXT de la table Schools

In [8]:
for column in schools.link_table.columns:
    print(column)

Schools.Id
Schools.Name
Schools.Location